body {
    font-family: "Open Sans", "sans-serif";
}

h1, h2, h3 {
    font-family: "Lobster", cursive ;
}

h1 {
    font-size: 90px;
    padding-right: 50px;
}

h2 {
    color: #3046C5
}

header h2 {
    color: #CEC8FF
}

footer {
    background-image: linear-gradient(Black);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    color: black;
    margin: 0;
    background-color:white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    border-top: 1px ridge;
    min-height: 200px;
}

.nav-link {
    color:black !important;
}

.site-footer{
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}
